body{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-create{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}
.todo-create-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}
.todo-create-button{
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    color: black;
    background-color: gold;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}
.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding:12px 0 ;
    margin: 12px 0;
    border-radius: 5px;

}
.icons {
    font-size: 22px;
    cursor: pointer;
}